<mat-drawer-container (backdropClick)="closeSidenav()">
  <mat-drawer mode="over" [opened]="opened | async" disableClose>
    <app-sidemenu></app-sidemenu>
  </mat-drawer>
  <mat-drawer-content>
    <app-toolbar></app-toolbar>
    <nav mat-tab-nav-bar mat-align-tabs="center">
      <a
        fxFlex
        mat-tab-link
        *ngFor="let page of pages"
        [routerLink]="page.route"
        [active]="(activePage$ | async).route == page.route"
        fxLayout.xs="column"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <mat-icon
          [matBadgeHidden]="
            page.route != '/chats' || (unviewedMessagesNumber$ | async) == 0
          "
          [matBadge]="unviewedMessagesNumber$ | async"
          matBadgeColor="warn"
          >{{ page.icon }}</mat-icon
        >

        <span>{{ page.title }}</span>
      </a>
    </nav>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
