.myMessageCard {
  background-color: rgb(12, 94, 148);
  color: white;
}

.notMyMessageCard {
  background-color: rgb(243, 243, 223);
  left: 0;
}

.unviewed-point-my-message {
  background-color: rgb(12, 94, 148);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  align-self: center;
  margin-right: 10px;
}

.unviewed-point-not-my-message {
  background-color: rgb(12, 94, 148);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  align-self: center;
  margin-left: 10px;
}

.myMessageSection {
  align-items: flex-end;
}

.notMyMessageSection {
  align-items: flex-start;
}

section {
  width: 100%;
  display: flex;
  transform: rotateX(180deg);
}

mat-card {
  border-radius: 20px;
  margin: 10px;
  max-width: 70%;
}

.date-div {
  font-size: 0.5em;
}

p {
  margin: 1px;
}
