.myMessageCard {
  background-color: rgb(12, 94, 148);
  color: white;
}

.notMyMessageCard {
  background-color: rgb(243, 243, 223);
  left: 0;
}

.myMessageSection {
  align-items: flex-end;
}

.notMyMessageSection {
  align-items: flex-start;
}

section {
  width: 100%;
  display: flex;
}

mat-card {
  border-radius: 20px;
  margin: 10px;
}

.date-div {
  font-size: 0.5em;
}

p {
  margin: 1px;
}
