mat-toolbar {
  bottom: 0px;
  position: fixed;
}

section {
  height: calc(100vh - 120px);
}

cdk-virtual-scroll-viewport {
  transform: rotateX(180deg);
  align-items: center;
}

.pre-loading {
  height: 70vh;
}

.spinner-container {
  height: 70vh;
}
