<section fxFlex fxLayout="column">
  <mat-toolbar class="header" color="primary">
    <button pressed mat-icon-button (click)="toChats()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="title-div" fxFlex></div>
    <img src="/assets/images/logo.svg" />
  </mat-toolbar>

  <div
    class="spinner-container"
    fxFlex
    *ngIf="messagesLoading$ | async"
    fxLayoutAlign="center center"
  >
    <mat-spinner></mat-spinner>
  </div>
  <div
    class="pre-loading"
    *ngIf="messagesEmpty | async"
    fxLayoutAlign="center center"
  >
    <h1>У Вас пока нет сообщений</h1>
  </div>
  <cdk-virtual-scroll-viewport
    #scroll
    itemSize="50"
    class="viewport"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div *cdkVirtualFor="let message of messages$ | async">
      <app-message [message]="message"></app-message>
    </div>
  </cdk-virtual-scroll-viewport>
  <form #f="ngForm" (ngSubmit)="sendMessage(f)" autocomplete="off">
    <mat-toolbar class="footer">
      <mat-form-field fxFlex>
        <input name="message" type="search" matInput ngModel required />
      </mat-form-field>
      <button mat-icon-button type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </mat-toolbar>
  </form>
</section>
