<section fxFlex>
  <cdk-virtual-scroll-viewport
    #scroll
    itemSize="50"
    class="viewport"
    fxLayout="column"
    fxLayoutAlign="end start"
  >
    <div *cdkVirtualFor="let message of messages$ | async">
      <app-message [message]="message"></app-message>
    </div>
  </cdk-virtual-scroll-viewport>

  <mat-toolbar>
    <mat-form-field fxFlex>
      <input #message matInput type="text" [(ngModel)]="messageText" />
    </mat-form-field>
    <button
      mat-icon-button
      (click)="sendMessage()"
      [disabled]="message.value == ''"
    >
      <mat-icon>send</mat-icon>
    </button>
  </mat-toolbar>
</section>
