.footer {
  bottom: 0px;
  position: fixed;
  height: 50px;
}

section {
  height: calc(100vh - 50px);
}

cdk-virtual-scroll-viewport {
  transform: rotateX(180deg);
  height: 100%;
}

.pre-loading {
  height: 70vh;
}

.spinner-container {
  height: 70vh;
}

img {
  height: 100%;
}

.header {
  height: 50px;
}

.title-div {
  text-align: center;
}
